{% extends "literature/base_form.html" %}
{% load crispy_forms_tags i18n static literature %}
{% block extra_head %}
  {{ form.media.css }}
{% endblock extra_head %}
{% block form_content %}
  <h1>{% trans "Import File" %}</h1>
  <hr>
  {% crispy form %}
  {% for entry, errors in failed_entries %}
    <div class="mb-2">
      <b>Citation Key</b>: {{ entry|csl_field:"citation-key"|default_if_none:"-" }}
    </div>
    <div class="citation-js" data-input="{{ entry|as_json }}"></div>
    <table class="table">
      <thead>
        <th>{% trans "Field" %}</th>
        <th>{% trans "Errors" %}</th>
      </thead>
      {% for field, error_list in errors.items %}
        <tr>
          <td>{{ field }}:</td>
          <td>
            <ul>
              {% for error in error_list %}<li>{{ error }}</li>{% endfor %}
            </ul>
          </td>
        </tr>
      </table>
    {% endfor %}
  {% endfor %}
{% endblock form_content %}
{% block js %}
  {{ form.media.js }}
{% endblock js %}
