{% extends "base.html" %}
{% load neapolitan crispy_forms_tags i18n %}
{% block content %}
    <div class="d-flex align-items-center">
        <h1 class="sm:flex-auto text-base font-semibold leading-6 text-gray-900">{{ object_verbose_name_plural|capfirst }}</h1>
        <div class="ms-auto">
            <button type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#quickSearchModal">
                <span>{% include "icons/globe.svg" %}</span>
                {% trans "Fetch" %}
            </button>
            <a class="btn btn-primary" href="{% url "import" %}">
                {% include "icons/import.svg" %}
                <span>{% trans "Import" %}</span>
            </a>
            <a class="btn btn-primary" href="{{ create_view_url }}">
                {% include "icons/plus.svg" %}
            {% trans "New" %}</a>
        </div>
    </div>
    <hr>
    {% if object_list %}
        {% object_list object_list view %}
    {% else %}
        <p class="mt-8">There are no {{ object_verbose_name_plural }}. Create one now?</p>
    {% endif %}
    <hr>
    {% include "literature/search_modal.html" %}
{% endblock %}
