[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-sortedm2m = "*"
django = "*"
django-appconf = "*"
django-taggit = "*"
django-filer = "*"
requests = "*"
django-model-utils = "*"
python-dateutil = "*"

[dev-packages]
model-bakery = "*"
tox = "*"
ipython = "*"
coverage = "*"
pycodestyle = "*"
autopep8 = "*"
black = "*"
isort = "*"
pyscaffold = {extras = ["all"], version = "*"}
flake8 = "*"
invoke = "*"
furo = "*"

[requires]
python_version = "3.9"
